{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}
  <style>
  html, body{
    width: 100%;
    height: 100%;
  }
  .row{
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .album{
    width: 100%;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<div class="container-fluid">

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="font-weight-light">Reviews</h1>
        <p class="lead text-muted">
          Search results for {{ title }}.
          There are {{ projects | length }} results.
          Scroll down below to view them!
        </p>
        <p>
          <a href="{% url 'home' %}" class="btn btn-primary my-2">Go Home</a>
        </p>
      </div>
    </div>
  </section>

  <div class="container-fluid bg-dark">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="width: 100%;">
      {% if projects %}
        {% for project in projects %}
          <div class="col col1">
            <div class="card shadow-sm photo_details">
                  <div class="image">
                  {% if project.image %}
                    <img src="{{ project.image.url }}" class="bd-placeholder-img card-img-top" alt="..." width="100%" height="225">
                  {% else %}
                    <img src="/static/images/carousel1.jpg" class="bd-placeholder-img card-img-top" alt="..." width="100%" height="225">
                  {% endif %}
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                        <span style="font-weight: bold;">{{ project.title }}</span>
                        {% autoescape off %}
                          {{ project.description }}
                        {% endautoescape %}
                        Click <a href="{{ project.live_link }}">here</a> for the live link
                    </p>
                    <div class="d-flex flex-column">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Vote</button>
                      </div>
                      <small class="text-muted" style="padding: 10px 10px;">
                        Posted: {{ project.date_published | timesince }}
                      </small>
                    </div>
                  </div> 
                </div>
          </div>
        {% endfor %}
      {% else %}
        <p style="color: white; text-align: center; width: 100%;">
          No Posts at the moment
        </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  {{ block.super }}

{% endblock scripts %}